<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      El estar en BEDU nos ayudo a <b>Mejorar</b> nuestros conociminetos con Full Stack de JavaScrip <br>
     Tambien mejoramos la manera de trabjar en equipo y a comunicarnos para cualquier  toma de descion sobre el proyecto. <br>
     Las herrmaientas que nos proporciono BEDU tales como <b>Platzi,las oficinas de BEDU,</b> fueron muy utiles para quitarnos dudas <br>
    
       </p>
  </div>
</section>
