<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      El estar en BEDU nos ayudo a <b>Méjorar</b> nuestros conociminetos con Full Stack de JavaScrip <br>
     Tambien mejoramos la manera de trabjar en equipo y a comunicarnos para cualquier  toma de decisión sobre el proyecto. <br>
     Las herramientas que nos proporciono BEDU tales como <b>Platzi,las oficinas de BEDU,</b> fueron muy útiles para quitarnos dudas. <br>
    Aclaramos ideas y nos abrirá más puertas en el mundo laboral de <b>IT</b> puesto a los conociminetos aprendidos.
       </p>
  </div>
</section>
