<div class="jumbotron mt-4">
  <h1 class="display-4">CRESCO</h1>
  <p class="lead">Simple WebApp usando MongoDB, Express, React y NodeJs para la creacion de CITAS</p>
  <hr class="my-4">
  <p>veniam voluptatibus aliquid unde sit Libero veniam similique ex reiciendis doloribus! Deleniti sunt cum ad est atque. Esse earum
  </p>
  <a class="btn btn-primary btn-lg" href="http://eferreyro.com" role="button">EFERREYRO</a>
</div>
