<div class="jumbotron mt-4">
  <center><h1 class="display-4"> <b>CRESCO  </b> </h1></center>
  <p class="lead">Simple WebApp usando MongoDB, Express y NodeJs para la creacion de CITAS</p>
  <hr class="my-4">
  <p>
    En Mexico somos 22 millones de perosnas aproximadamente segun último estudio realizado por la INEGI, tarde o temprano <br>
    nos enfermamos, y cuando vamos al hospital/clínica perdemos tiempo en tratar de conseguir una cita, puesto que tenemos que asistir al lugar,<br>
    tomar un turno, y ver que dia esta disponlibe.
    En México existen <b>4,354 hospitales,</b>  de los cuales 1,182 son públicos y <b>3,172 privados.</b> 
     Claramente la <b>WebApp</b> sera apuntada al sector privado. <br>
     La cual agilizara el proceso de agendar citas, por que sera posible hacerlo desde cualquer aparato electrónico, desde tu trabajo o tu casa <br>
     o donde te encuetres.

  </p>
<center><h3><B>CRESCO WEBAPP</B></h3></center>
</div>
