<div class="jumbotron mt-4">
  <center><img src="/img/logo-cresco.jpeg" width="200px"> </center>
  <p class="lead">Simple WebApp usando MongoDB, Express y NodeJs para la creacion de CITAS</p>
  <hr class="my-4">
  <p>
    En México somos 129.2 millones de perosnas aproximadamente según último estudio realizado por la INEGI. <br>
    Y en la Ciudad de México somos 22 millones de personas, debido a eso, somos las quinta ciudad más habitada del mundo, <br>
    por lo cual tenemos problemas ambientales los cuales provocan problemas a la salud. <br>
    Tarde o temprano nos enfermamos y cuando vamos al hospital/clínica perdemos tiempo en tratar de conseguir una cita, <br>
    puesto que tenemos que asistir al lugar, tomar un turno, y ver que día esta disponlibe. <br>
    En México existen <b>4,354 hospitales,</b>  de los cuales 1,182 son públicos y <b>3,172 privados.</b> 
    Claramente la <b>WebApp</b> será apuntada al sector privado. <br>
    La cual agilizara el proceso de agendar citas, por que sera posible hacerlo desde cualquer aparato electrónico, <br>
    desde tu trabajo o tu casa o donde te encuetres.

  </p>
<center><h3><B>CRESCO WEBAPP</B></h3></center>
</div>

{{>gratitude}}