<p></p><p></p><p></p><p></p>.<p></p><p></p><p></p><p></p><p></p>
<nav class="navbar fixed-bottom navbar-dark" style="background-color: #1b1e20">
    <a class="text-sm-left text-monospace text-muted" href="#" style="text-size-adjust: 20px">Copyright CRESCO 2019 <b>BEDU</b></a>
    <a class="text-sm-left text-monospace text-muted" href="#" style="text-size-adjust: 20px"><b>CRESCO</b>v1.11.02</a>
</nav>  