<div class="container">
  <div class="row" style="width: auto; margin: auto auto;">
    <div class="col ">
    <div class="card text-white bg-dark mb-3" style="max-width: auto;">
      <div class="card-body">
        <h4 class="card-title">Opinion:</h4>
        <p class="card-text">
            El estar en BEDU nos ayudo a <b>Mejorar</b> nuestros conociminetos con Full Stack de JavaScrip <br>
            Tambien mejoramos la manera de trabjar en equipo y a comunicarnos para cualquier  toma de descion 
            sobre el proyecto. <br>
        </p>
      </div>

  </div>
    </div>
    <div class="col">
    <div class="card text-white bg-dark mb-3" style="max-width: auto;">
      <div class="card-body">
        <h4 class="card-title">Agradecimiento:</h4>
        <p class="card-text">
            Las herrmaientas que nos proporciono BEDU tales como <b>Platzi,las oficinas de BEDU,</b> fueron muy
             utiles para quitarnos dudas <br> Aclaramos ideas y nos abrira mas puertas en el mundo laboral de 
             <b>IT</b> puesto a ,los conociminetos aprendidos.
        </p>
      </div>
  </div>
</div>
    </div>
  </div>